.announcement-container {
  position: fixed;
  margin-top: 1rem;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
.announcement {
  text-decoration: none;
  font-size: 15px;
  font-style: italic;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

a, button{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

logo-container {
  margin: none;
  padding: none;
  color-adjust: white;

}

.spacer {
  flex: 1 1 auto;
}

