mat-form-field,
textarea {
  width: 100%;
}

mat-card{
  margin: auto;
  margin-top: 2rem;
  width: 40%;
}

button {
  font-weight: bold;
}

mat-spinner {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.buttons-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;

}

.location-status {
  margin: none;
  padding: none;
}

.ul-loading li{
  list-style: none;
  margin: none;
  padding: none;
  float: right;
}

.ul-loading {
  padding: 0;
  margin: 0;
}

.location-preview-text {
  margin: none;
  margin-right: 0.5rem;
  padding: none;
  transform: translate(0%, 40%);
}

.mat-spinner {
  transform: translate(0%, 50%);
}
