mat-form-field,
textarea {
  width: 100%;
}

mat-card{
  margin: auto;
  margin-top: 2rem;
  width: 40%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.buttons-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
