mat-form-field,
textarea {
  width: 100%;
}

.post-create-container{
  margin: auto;
}

.fullscreen-background-wrap {
  position: fixed;
  overflow: hidden;
}

mat-card{
  margin: auto;
  margin-top: 56px;
  width: 40%;
}

button {
  font-weight: bold;
}

mat-spinner {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.buttons-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;

}

.location-status {
  margin: none;
  padding: none;
}

.ul-loading li{
  list-style: none;
  margin: none;
  padding: none;
  float: right;
}

.ul-loading {
  padding: 0;
  margin: 0;
}

.location-preview-text {
  margin: none;
  margin-right: 0.5rem;
  padding: none;
  transform: translate(0%, 40%);
}

.mat-spinner {
  transform: translate(0%, 50%);
}


/* .fullscreen-background-wrap {
  animation: gradient 15s ease infinite;
  background-image: linear-gradient(-45deg, #ee7752, #FF5722, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:64px;
  z-index: 0;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */
